# Entornos virtuales de Python
venv/
.venv/

# Archivos temporales de Python
__pycache__/
*.pyc

# Variables privadas y contraseñas
.env

# Bases de datos locales
*.db
*.sqlite

# Archivos del sistema
.DS_Store
Thumbs.db